container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && source /opt/python/current/env && python manage.py migrate --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "conduit.settings.production"
    PYTHONPATH: "/opt/python/current/app/conduit:$PYTHONPATH"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
  aws:elasticbeanstalk:container:python:
    StaticFiles: /static/=static/
    WSGIPath: conduit/wsgi.py
  